.about{
        width: 100%;
        height: 100%;
        padding-bottom: 200px;

    .all{
        margin-left: 100px;
    }

    .story{
        position: relative;
        display: flex;
        width: 1440px;
        height: 224px;
    }
    .brandstory{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 74px;
        width: 1240px;
        height: 212px;
    }

.contact_qrcode
{
    margin: 40px 0px;
}
    .text{
        font-size: 12px;
        
    }

    .orangeLine{
        margin-top:10px;
        background-color:#FF6A14;
        height:3px;
        border:0px;
        width: 100%;
    }
    .box1{
        position:relative;
        width: 352px;
        height: 212px;
    }
    .texthead{
        font-size: 40px;
        font-weight: 2000;

    }
    .box2{
        position: relative; 
        width:352px;
        height:38px;
    }
    .box3{
        position: relative;
        margin-top: 32px;
        width:103px;
        height:55px;
    }
    .text1{
        font-size: 16px;
        color: #FF6A14;
    }
    .titletex{
        font-size:24px;
    }
    .box4{
        position:absolute;
        top: 70px;
        left:575px;
        width:206px;
        height:142px;
    }

     @media screen and (max-width:200px) {
       
    
    
   }
 

}