.tagSelector {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.tagSelectorText {
    @extend .tagSelector;
    padding: 24px 0;
    gap: 60px;
    .tag {
        border: none;
        background: none;
        color: #121212;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: left;
        padding: 0;
        cursor: pointer;
    }
    .tag:after {
        content: "";
        display: block;
        margin-top: 12px;
        width: 85px;
        height: 1.5px;
        background-color: #ff6a14;
        transform: scaleX(0);
        transition: transform 0.3s ease-in-out;
        transform-origin: left;
    }
    .selected_tag:after {
        height: 3px;
    }
    .selected_tag:after,
    .tag:hover:after {
        transform: scaleX(1);
    }

    @media screen and (max-width: 768px) {
        padding: 52px * 3.84 0;
        gap: 40px * 3.84;
        row-gap: 32px * 3.84;

        .tag {
            font-size: 16px * 3.84;
            max-width: 85px * 3.84;
        }

        .tag:after {
            margin-top: 12px * 3.84;
            width: 85px * 3.84;
            height: 1.5px * 3.84;
        }
        .selected_tag:after {
            height: 3px * 3.84;
        }
    }
}

.tagSelectorOutlined {
    @extend .tagSelector;
    .tag {
        border: 1px solid #ff6a14;
        background: #fff;
        min-width: 100px;
        padding: 8px 23px;
        color: #ff6a14;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        cursor: pointer;
    }
    .tag:first-child {
        border-radius: 8px 0px 0px 8px;
    }
    .tag:last-child {
        border-radius: 0px 8px 8px 0px;
    }
    .selected_tag {
        background: #ff6a14;
        color: #fff;
    }
    .tag:hover {
        background: #ffd1b7;
        color: #fff;
    }
    @media screen and (max-width: 768px) {
        .tag {
            border: 1px * 3.84 solid #ff6a14;
            min-width: 100px * 3.84;
            font-size: 16px * 3.84;
            padding: 8px * 3.84 23px * 3.84;
        }
        .tag:first-child {
            border-radius: 8px * 3.84 0px 0px 8px * 3.84;
        }
        .tag:last-child {
            border-radius: 0px 8px * 3.84 8px * 3.84 0px;
        }
    }
}
