.login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(18, 18, 18, 0.65);
    background-image: url("/images/title_bg/login_page_bg.png");
    background-blend-mode: multiply;
    background-size: 100% auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 100px;
    padding-top: 98px;

    &Container {
        padding: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 42px;
        width: 100%;
        max-width: 482px;
        border-radius: 8px;
        background: #fff;
        box-shadow: 15px 15px 15px 0 rgba(177, 170, 170, 0.25);
        margin-bottom: 20px;
    }
    .bindContainer {
        max-width: 800px;
    }

    &Header {
        width: 200px;
        cursor: pointer;
        display: flex;
        gap: 12px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 150px;
            height: 38px;
            flex-shrink: 0;
            aspect-ratio: 900/227;
        }
    }

    &Header::after {
        content: "";
        display: block;
        width: 200px;
        height: 3px;
        background-color: #ff6a14;
    }

    &Tabs {
        display: flex;
        display: flex;
        align-items: flex-start;
        gap: 52px;

        &Tab {
            color: #121212;
            text-align: center;
            font-family: Raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            background-color: #fff;
            border: none;
            text-transform: uppercase;

            &Active {
                text-align: center;
                font-family: Raleway;
                font-size: 18px;
                font-style: normal;
                line-height: 150%;
                background-color: #fff;
                border: none;
                color: #ff6a14;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration-line: underline;
                text-decoration-style: solid;
                text-decoration-skip-ink: auto;
                text-decoration-thickness: auto;
                text-underline-offset: auto;
                text-underline-position: from-font;
            }
        }
    }

    &Form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .formGroup {
            margin-bottom: 24px;

            label {
                display: block;
                margin-bottom: 8px;
                color: #2e2e2e;
                font-weight: 500;
                font-family: Raleway;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            input {
                width: 100%;
                height: 60px;
                padding: 0 12px;
                border: 1px solid #f8f8f8;
                border-radius: 8px;
                background: #f8f8f8;
                color: #2e2e2e;
                font-family: Raleway;
                font-size: 16px;
                font-weight: 500;

                &:focus {
                    outline: none;
                    border-color: #ff6a14;
                }
            }

            .codeInput {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 12px;
                a {
                    color: #ff6a14;
                    text-decoration: underline;
                }
            }

            .getCodeButton {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                margin-left: 12px;
                color: #ff6a14;
                text-align: right;
                font-family: Raleway;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                background-color: #fff;
                border: none;
                cursor: pointer;
                white-space: nowrap;

                .spinner {
                    width: 30px;
                    height: 30px;
                }
            }

            .checkbox {
                width: 24px;
                height: 24px;
                border-radius: 4px;
                // 选中后颜色
                background-color: #ff6a14;
            }

            .errorMessage {
                color: #ff6a14;
                font-size: 12px;
            }
        }
    }

    &Button {
        width: auto;
        margin: 0 auto;
        padding: 8px 24px;
        background: #ff6a14;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;

        &:hover {
            background: #ff6a14e6;
        }
    }

    .wechatLoginLink {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: #fff;
        border-radius: 8px;
        color: #ff6a14;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        text-decoration: underline;
    }

    // 媒体查询
    @media (max-width: 768px) {
        padding: 0 12px * 3.84;
        padding-top: 72px * 3.84;

        .bindContainer,
        &Container {
            padding: 42px * 3.84;
            max-width: 100%;
            gap: 42px * 3.84;
            border-radius: 8px * 3.84;
        }

        &Header {
            width: 200px * 3.84;
            gap: 12px * 3.84;
            img {
                width: 150px * 3.84;
                height: 38px * 3.84;
            }
        }
        &Header::after {
            width: 200px * 3.84;
            height: 3px * 3.84;
        }

        &Tabs {
            gap: 52px * 3.84;
            &Tab {
                font-size: 18px * 3.84;

                &Active {
                    font-size: 18px * 3.84;
                }
            }
        }

        &Form {
            gap: 12px * 3.84;

            .formGroup {
                margin-bottom: 24px * 3.84;

                label {
                    margin-bottom: 8px * 3.84;
                    font-size: 12px * 3.84;
                }

                input {
                    height: 60px * 3.84;
                    padding: 0 12px * 3.84;
                    border-width: 3.84px;
                    border-radius: 8px * 3.84;
                    font-size: 16px * 3.84;
                }

                .codeInput {
                    gap: 12px * 3.84;
                }

                .getCodeButton {
                    gap: 4px * 3.84;
                    margin-left: 12px * 3.84;
                    font-size: 18px * 3.84;
                    .spinner {
                        width: 30px * 3.84;
                        height: 30px * 3.84;
                    }
                }

                .checkbox {
                    width: 24px * 3.84;
                    height: 24px * 3.84;
                    border-radius: 4px * 3.84;
                }

                .errorMessage {
                    font-size: 12px * 3.84;
                }
            }
        }

        &Button {
            padding: 8px * 3.84 24px * 3.84;
            border-radius: 8px * 3.84;
            font-size: 16px * 3.84;
        }
        .wechatLoginLink {
            font-size: 16px * 3.84;
            display: none;
        }
    }
}
