.header {
    background: rgba(46, 46, 46, 0.2);
    backdrop-filter: blur(5px);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container {
    display: flex;
    max-width: 1440px;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 24px;

    .navContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;

        .nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 18px;
        }

        .navItem {
            position: relative;
            color: #fff;
            font-family: Raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            height: 98px;
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                text-decoration: none;
                color: inherit;
            }

            &:hover,
            a:hover,
            .active {
                color: #ff6a14;
                .dropdownTriggerArrow {
                    background-image: url("/images/icons/arrow-down-active.svg");
                    background-size: cover;
                }
            }
        }

        .divider {
            display: none;
            width: 219px * 3.84;
            border-bottom: 3px * 3.84 solid #ff6a14;
        }

        .languageProfile {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 36px;
            height: 98px;
            .languageIcon {
                width: 24px;
                height: 98px;
                flex-shrink: 0;
                aspect-ratio: 1/1;
            }
            .profileIcon {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
            }
            .dropdownContent {
                position: absolute;
                right: -20px;
                left: auto;
                top: 100%;
            }
        }
    }

    .mobileMenuButton {
        display: none;
        width: 24px * 3.84;
        height: 24px * 3.84;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        .mobileMenuIcon {
            width: 100%;
            height: 100%;
        }
    }

    .logo {
        width: 150px;
        height: 58px;
        flex-shrink: 0;
        aspect-ratio: 75/29;
        cursor: pointer;
    }

    .loginButton {
        font-family: Raleway;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        width: auto;
        margin: 0 auto;
        padding: 8px;
        background: #ff6a14;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s;
        text-decoration: none;

        &:hover {
            background: #ff6a14e6;
        }
    }

    .dropdown {
        position: relative;
        display: inline-block;
        cursor: pointer;
        height: 100%;

        .dropdownTrigger {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4px;
        }

        .dropdownTriggerArrow {
            width: 16px;
            height: 16px;
            background-image: url("/images/icons/arrow-down.svg");
            background-size: cover;
        }

        .dropdownContent {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 80px;
            width: auto;
            border-radius: 0 0 8px 8px;
            background: rgba(46, 46, 46, 0.2);
            z-index: 1;
            padding: 16px;
            gap: 16px;
            color: #fff;
            font-family: Raleway;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-decoration: none;
            .dropdownItem {
                white-space: nowrap;
                &:hover,
                &Active {
                    white-space: nowrap;
                    color: #ff6a14;
                }
            }
        }
    }
    .dropdown:hover {
        .dropdownTriggerArrow {
            transform: rotate(180deg);
        }
        .dropdownContent {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    // 移动端样式
    @media (max-width: 768px) {
        padding: 10px * 3.84;
        height: 72px * 3.84;

        .navContainer {
            display: none;
        }

        .mobileMenuButton {
            display: flex;
        }

        .logo {
            width: 100px * 3.84;
            height: 38px * 3.84;
            flex-shrink: 0;
            aspect-ratio: 50/19;
        }

        .mobileNavContainerOpen {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            overflow: scroll;
            top: 72px * 3.84;
            left: 0;
            height: calc(100vh - 72px * 3.84);
            z-index: 100;
            background-color: #fff;
            gap: 24px * 3.84;
            padding: 24px * 3.84;
            justify-content: flex-start;

            .nav {
                flex-direction: column;
                gap: 10px * 3.84;
                height: auto;
            }

            .navItem {
                color: #2e2e2e;
                font-size: 16px * 3.84;
                min-height: 48px * 3.84;
                height: auto;

                a {
                    color: inherit;
                }

                &:hover,
                a:hover,
                .active {
                    color: #ff6a14;
                    .dropdownTriggerArrow {
                        background-image: url("/images/icons/arrow-down-active.svg");
                        background-size: cover;
                    }
                }
            }

            .divider {
                display: block;
            }

            .languageProfile {
                gap: 36px * 3.84;
                align-items: flex-end;

                .languageIcon {
                    width: 24px * 3.84;
                    height: 24px * 3.84;
                }
                .profileIcon {
                    width: 24px * 3.84;
                    height: 24px * 3.84;
                }

                .dropdown {
                    .dropdownContent {
                        width: 50vw;
                        justify-content: center;
                        left: 0;
                        transform: translateX(-50%);
                    }
                }
            }
        }

        .loginButton {
            font-size: 12px * 3.84;
            padding: 8px * 3.84;
            border-radius: 8px * 3.84;
        }

        .dropdown {
            height: auto;
            .dropdownTrigger {
                gap: 4px * 3.84;
                height: auto;
            }

            .dropdownTriggerArrow {
                width: 24px * 3.84;
                height: 24px * 3.84;
                background-image: url("/images/icons/arrow-down-black.svg");
                background-size: cover;
            }
            .dropdownContent {
                width: 100%;
                position: relative;
                height: auto;
                background-color: #fff;
                color: #2e2e2e;
                font-size: 12px * 3.84;
            }
        }
        .dropdown:hover .dropdownContent {
            display: none;
        }
        .dropdown:hover {
            .dropdownTriggerArrow {
                transform: rotate(0);
            }
        }
        .dropdown .dropdownContentOpen,
        .dropdown:hover .dropdownContentOpen {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 16px * 3.84;
            padding: 8px * 3.84;
        }
    }
}
