.registration {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tag_box {
        width: 85%;
    }

    .match_box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .info_box {
            width: 85%;
            display: flex;
            flex-direction: column;

            .detail {
                display: flex;
                width: 100%;
                border-bottom: 2px solid #FF6A14;
                padding-bottom: 32px;

                .cover {
                    width: 615px;
                    height: 355px;

                }

                .registration_info {
                    margin-left: 44px;
                    margin-top: 24px;

                    .title {
                        display: flex;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        font-weight: 700;
                        font-style: Bold;
                        font-size: 24px;
                        color: #FF6A14;

                        .title_name {
                            width: 352px;
                            border-bottom: 3px solid #FF6A14;
                            padding-bottom: 10px;
                        }

                        .title_status {
                            margin-left: 72px;
                            white-space: nowrap;
                        }

                    }

                    .text {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 100%;
                        letter-spacing: 0%;
                        vertical-align: middle;
                        color: #2E2E2E;
                        margin-top: 16px;
                        display: flex;
                        align-items: center;

                        .text_title {
                            margin-right: 10px;
                        }
                    }

                    .date {
                        margin-top: 24px;
                        display: flex;
                        align-items: center;

                        .date_box {
                            width: 127px;
                            height: 54px;
                            opacity: 1;
                            border-radius: 8px;
                            background-color: rgba(224, 224, 224, 0.4);
                            font-size: 14px;
                            color: #2E2E2E;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;

                            .date_title {
                                font-weight: 400;
                            }

                            .date_num {
                                font-weight: 700;
                                font-style: Bold;
                                margin-top: 2px;
                            }
                        }

                        .date_arrow {
                            width: 50px;
                            height: 50px;
                            margin-right: 14px;
                            margin-left: 14px;
                        }
                    }

                }

            }

            .group_box {
                margin-top: 32px;

                .cell {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 700;
                    font-style: Bold;
                    font-size: 18px;
                    letter-spacing: 0%;
                    color: #121212;

                    .cell_title {}

                    .cell_price {
                        color: #FF6A14;
                    }

                    .cell_btn {
                        width: 81px;
                        height: 35px;
                        opacity: 1;
                        border-radius: 8px;
                        background-color: #FF6A14;
                        cursor: pointer;
                        color: #FFFFFF;
                        font-size: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }

        .match_description {
            width: 100%;
            background-color: #F8F8F8;
            padding: 42px 0;
            margin-top: 74px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .match_description_box {
                display: flex;
                flex-direction: column;
                font-style: Bold;
                letter-spacing: 0%;
                vertical-align: middle;
                width: 85%;
                margin-bottom: 42px;

                .match_description_title {
                    font-weight: 700;
                    font-size: 21px;

                    .match_description_title_divider {
                        width: 60px;
                        border-bottom: 3px solid#FF6A14;
                        margin-top: 12px;
                    }
                }

                .match_description_text {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 150%;
                    margin-top: 24px;
                }
            }
        }

    }

}